* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: black;
  background-color: #081a2b;
  font-family: monospace;
  margin-top: 40px;
}

h1 {
  color: #1e73be;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
}

.tasklist-container {
  width: 600px;
  min-height: 500px;
  background-color: #fff;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  border: 1px solid black;
}
